body {
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
}

body p {
    font-size: 1.5em;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
}

header {
    background: url(../img/bg.jpg);
    background-position: bottom;
    background-size: cover;
    height: 600px;
    position: relative;
}

header h1 {
    font-weight: 300;
    margin: 10px 0;
    font-size: 4em;
}

header p {
    font-size: 1em;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header ul {
    display: inline;
    padding: 0;
}

header ul li {
    display: inline-block;
    font-size: 1em;
    padding: 5px 5px 5px 0;
}

header ul li:last-child {
    padding-right: 0;
}

header .title {
    position: absolute;
    bottom: 0;
    padding: 0 10%;
    color: white;
}

header .blurb {
    font-weight: 300;
    width: 50%;
}

.content {
    margin: 20px 10%;
}

.project {
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 10px;
    background-color: white;
    font-size: 1em;
}

.project .header {
    position: relative;
    margin: 0;
    padding: 0;
    height: 400px;
}

.project .header h3 {
    margin: 10px;
}

.project .header .title {
    position: absolute;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.project > .body {
    padding: 0 10px;
}

.project > .body > p {
    font-size: 1em;
}

.project:last-child {
    margin-bottom: 0;
}